body {

	border-width: 0px;
	margin: 0px;
	padding: 0px;
	background-color:  #32A5B1;

}


#navbar {


	width: 100%;
	height: 50px;
	background-color: #e1ad01;
	position: all;
	top: 0;
	left: 0;
	right: 0;
	font-size: 150%;
	font-family: sans-serif;
	display: flex;
	border: 1px solid black;
	border-top: 0px;
	

	
	

}
#nav {

  
  padding-left: 20%;
  padding-top: 10px;
 

}

#menu {

	 background-color: #e1ad01;
	
	 padding-top: 10px;
	 margin-left: 50%;

	position: relative;
	display: inline-block;


}


#menu:hover #cont {

	display: block;

}

#cont {

  
  font-size: 60%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

#cont a{


	color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

#log {

	background-color: #e1ad01;
	border-radius: 15px;
	width: 300px;
	align-self:center;
	margin-top: 5%;
	padding-left:50%;
	
	padding: 7px;
	
	border-left: 1px;
	border-top: 1px;
	border-right: 3px;
	border-bottom: 3px;
	border-style: solid;
	border-color: black;
	
	

}


#log span {
	
	
	margin: 1% auto;
	font-family: sans-serif;
	font-size: 95%;
	
}
.b1 {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    	
	width:300px;
	heigth: 80%;
	
	margin: 1% auto;
	margin-left: 37%;
	
	
	position: relative;
	display: inline-block;
	

}

.b1:hover #form {

	display: block;

}

#form {

  
  font-size: 100%;
  display: none;
  position: absolute;
  background: rgb(235,246,247);
  background: radial-gradient(circle, rgba(235,246,247,1) 22%, rgba(183,223,227,1) 55%, rgba(201,247,252,1) 95%, rgba(181,235,241,1) 100%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
  margin-top:4%;


  width: 300px;

}

#ali {
	
	margin: 2% auto;
	
}

#ali input{
	margin-top: 2%;
	margin-bottom: 2%;
	
}
#ali p{
	
	margin-right: 4%;
	margin-top: -2%;
	
}

#panel {
	
	
border-radius: 15px;
	width: 40%;
	margin-left: 30%;
	margin-top: 1%;
	margin-bottom: 2%;
	
	border-left: 1px;
	border-top: 1px;
	border-right: 5px;
	border-bottom: 5px;
	border-style: 
	solid;
	border-color: black;


	align-items:center;/*vertical*/
    justify-content:center; /*horizontal*/
}

#panel_in {
	
	
	background: rgb(235,246,247);
	background: radial-gradient(circle, rgba(235,246,247,1) 32%, rgba(183,223,227,1) 25%, rgba(201,247,252,1) 25%, rgba(181,235,241,1) 1%);
	
	border: 1px solid black;

	margin: 2%;
	font-family: sans-serif;
	min-width: 100px;
	max-width: 500px;
	
	
}

#panel_in h1{
	
	background-color: #e1ad01;
	border: 1px solid black; 
	margin-left: 100px;
	margin-right: 100px;
	margin-top: -17px;
	text-align:center;
	font-size: 120%;
	

}

#panel p {
	
	padding-left: 43%;
	
}

#panel button {
	
	
	width: 60px;
}
