body {

	border-width: 0px;
	margin: 0px;
	padding: 0px;
	background-color:  #32A5B1;

}


#navbar {


	width: 100%;
	height: 50px;
	background-color: #e1ad01;
	position: all;
	top: 0;
	left: 0;
	right: 0;
	font-size: 150%;
	font-family: sans-serif;
	display: flex;
	border: 1px solid black;
	border-top: 0px;
	

	
	

}
#nav {

  
  padding-left: 20%;
  padding-top: 10px;
 

}

#menu {

	 background-color: #e1ad01;
	
	 padding-top: 10px;
	 margin-left: 50%;

	position: relative;
	display: inline-block;


}


#menu:hover #cont {

	display: block;

}

#cont {

  
  font-size: 60%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

#cont a{


	color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

#log {

	
	border-radius: 15px;
	width: 60%;
	margin-left: 19%;
	margin-top: 5%;
	border-left: 1px;
	border-top: 1px;
	border-right: 3px;
	border-bottom: 3px;
	border-style: solid;
	border-color: black;


	

}

#form {

	background: rgb(235,246,247);
	background: radial-gradient(circle, rgba(235,246,247,1) 22%, rgba(183,223,227,1) 55%, rgba(201,247,252,1) 95%, rgba(181,235,241,1) 100%);
	
	border: 1px solid black;

	margin: 2%;
	font-family: sans-serif;
	
}

#form h1{


	background-color: #e1ad01;
	border: 1px solid black; 
	margin-left: 30%;
	margin-right: 30%;

	margin-top: -30px;
}

#user {
	
	width: 150px;
	height: 150px;
	border: 1px solid black;
	
	margin-top: -100px;
	margin-left: 80px;
	
}

#username {
	
	margin-top: -20px;
	margin-left: 120px;
}
#op {
	
	margin-top: 80px;
	margin-left: 300px;
	font-size: 130%;
	
	
}
#op a{
	
	text-decoration: none;
	color: black;
}